.container_detail{

  /* background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 100vh; 
  min-height: 100vh;  */
  /* background: #a5be00; */
  width: 100%;
  margin: 60px 0;

  
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;  
}


.cardDetail{
  font-family: "Anybody";
  background-color: #fcffe9; 
  border-radius: 20px;
  width: 290px;
  height: 390px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 80px 0;
  padding: 5px;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center; 
}

/* .cardDetail h1{
  margin-right: 65px;
} */

.cardDetail img{
	width: 200px;
	height: 150px;
  margin: auto; 
  transition: transform 0.2s linear;
}

.cardDetail img:hover{
  transform: scale(1.1);
}

.headings{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
 
 
}

.headings i{
  cursor: pointer;
  position: absolute;
  left: 5px;
  top: 2px;
 
}

.headings h1 {
  transition: transform 0.3s linear;
}

.headings h1:hover {
  /* box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.3); */
  transform: scaleX(1.05);

}


.stat_group{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 5px;
    gap: 4px;
}

.stat {
  /* margin-right: 10px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.statNumber{
  /* margin: 5px; */
}

.stat_bar_fill{
  height: 50%;
  background-color: blue;
  border-radius: 10px;
  transition: width 0.2s ease-in-out;
} 


/* --------------------------------- */
 input[type="range"]:disabled {
  background-color: goldenrod;
} 

input[type=range][name=ataque] {
  width: 100%;
  height: 10px;
  background-color: goldenrod;
  border: none;
  border-radius: 5px;
}

input[type=range][name=ataque]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  background-color: #f00;
  border-radius: 5px;
}

input[type=range][name=ataque]::-moz-range-track {
  width: 100%;
  height: 10px;
  background-color: #f00;
  border-radius: 5px;
} 

.stat_bar_label{
  font-family: "Anybody";
  /* padding-left: 10px; */
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 61px;
}

.types{
  padding: 5px 20px;
  border-radius: 5px;
  color: black;  
}

.type{
  margin: 15px;
  
}

.btn_back{
    padding: 10px 20px;
    background-color: #ff9500;
    font-family: "Anybody";
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 20px;
}

.btn_delete{
  padding: 10px 20px;
    background-color: #a5be00;
    font-family: "Anybody";
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 20px;

}

@media (max-width:1093px){

/* .cardDetail h1{
  margin-right: 80px;
}

.cardDetail i{
  margin-right: 45px; 
} */

}

@media (max-width:2000px){

/* .cardDetail h1{
    margin-right: 50px;
  }
  
.cardDetail i{
  margin-right: 45px; 
} */
}

