.container{
    background-image:url("https://pokemonletsgo.pokemon.com/assets/img/kanto-region/p02_01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    /* min-width: 100vh; 
    min-height: 100vh; */ 

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
}

.logo{
    height: 200px;
    width: 400px;
    padding: 10px;
    margin: 0 30px;
    flex-shrink: 1;
}

.pikachu{
    flex-shrink: 1;
    margin: 0 0;

} 

.btn_landing{
    font-family: "Anybody";
    padding: 17px 40px;
    margin: 0 100px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(255, 56, 86);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .3s ease;
    box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
   }

.btn_landing:hover{
    box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
}

.btn_landing:active{
   background-color: rgb(255, 56, 86);
 box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
 transform: translateY(5px);
 transition: 200ms;
}

/* RESPONSIVE */
@media (max-width:470px){
    .btn_landing{
        padding: 5px;
        padding: 17px 40px;
    }
}