body{
  padding: 0;
  margin: 0;
  font-family: "Anybody";
}

.container{
  margin:10px;
  padding: 10px;
  background: #9bcc50;


  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  
 }

 .containerTypes{
 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
 }

 .header{
  margin: 20px 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
 }

 .header h1{
  padding: 5px;
 }

 .inputs .name{
  padding: 10px;
  margin: 5px 10px;
  border-radius: 5px;
  border: none;
 }

 .inputs .image{
  padding: 10px;
  margin: 5px 10px;
  border-radius: 5px;
  border: none;
 }

 .points{
  padding: 15px;
 

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
 }

 .statsInputs{
  margin: 5px;  
 }

 .filter_by_type{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
 } 

 .group_type{
  padding: 10px;
  width: 100px;
  height: 30px;
  background-color: whitesmoke;
  margin-right: 0;
  cursor: pointer;

  text-align: center;
  align-self: center;
 }

 .btn_buttons{
  margin: 10px;

  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
 }

 .btn_create{
  padding: 10px 20px;
  background-color: rgb(214,27,214);
  border: none;
  border-radius: 5px;
  margin: 0 10px;
 }

 .btn_back{
  padding: 10px 20px;
  background-color: #6032a8;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
 }

 @media (max-width:1280px){

  .container{
    margin:10px;
    padding: 10px;
    width: fit-content;
    background: #9bcc50;
  
  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
   }

   .containerTypes{
    margin: 2px 0;
  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   }

   .inputs{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-self: center;
   }

   .name .image{
    padding: 10px;
    margin: 5px 10px;
    border-radius: 5px;
    border: none;
   }

   .points{
    padding: 35px;
  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
   }

   .statsInputs{
    margin: 5px;
   }

 }

 @media (max-width:400px){
  .header{
    margin: 50px 0;
  }

  .btn_back{
    margin: 10px;
  }
 }

 @media (max-width:350px){
  .header{
    margin: 20px 0;
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   }
 }




