.container{
    background-color: darkcyan;
    height:100vh ;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.errorInfo{
    
    background-color: blanchedalmond;
    margin: 50px 0;
    padding: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container h1{
    font-size:50px;
}

.title{
    padding: 15px;
}

.number{
    padding: 5px;
}

.container img{
    background-color:blanchedalmond;
    border: 10px solid black;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	text-align: center;
    margin: 0;
}

.container button{
        padding: 10px 20px;
        margin: 20px 10px;
        background-color: #D62828;
        font-family: "Anybody";
        border: none;
        border-radius: 5px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
}

@media (min-width:300px){

.number{
    display: inline-block;
}
  }
