*{
  margin:0px;
  padding: 0px;
  
}

body {
  margin: 0;
  background: url("https://pm1.narvii.com/6163/f381759eeceaf6dd821b9f50b1188b46b04e7d51_hq.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


